{% extends "container.html" %}

{% block title %}Djninja: the best place for your music!{% endblock %}

{% block body %}
<style type="text/css">
body {
    padding-top: 0px;
}
</style>
    {% if articles %}
        <div id="jukeboxSlider" class="carousel slide">
            <div class="carousel-inner">
                {% for article in articles %}
                    <div class="item{% if forloop.counter == 1 %} active{% endif %}">
                        <img src="{{ article.image.url }}" alt="" />
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>{{ article.title }}</h1>
                                <p class="lead">{{ article.headline }}</p>
                                <a class="btn btn-large btn-primary" href="{% url "detail" article.id %}">Read more »</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="left carousel-control" href="#jukeboxSlider" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#jukeboxSlider" data-slide="next">&rsaquo;</a>
        </div>
    {% else %}
        <p>No slider items are available.</p>
    {% endif %}
{% endblock %}
